.vscode
.idea
.DS_Store
*.test
examples/templating/generic/files/generated_*
pkg/generic/test-fixtures/generated_*
pkg/kube/unstructured/test-fixtures/generated_*
kubedog
coverage.txt

# ignore edit files
.*~
.*.sw?
