.vscode
.idea
.DS_Store
*.test
examples/templating/generic/files/generated_*
pkg/generic/test/generated_*
pkg/kube/unstructured/test/templates/generated_*
kubedog
coverage.txt

# ignore edit files
.*~
.*.sw?
