name: Test
on:
  push:
    tags:
      - v*
    branches:
      - master
      - GED-kubedog-agaro-3
  pull_request:
jobs:
  build:
    name: Unit Tests and Codecov
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.17
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Run 'all' make target
      run: make all
    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.txt # optional
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)
